html{
    box-sizing: border-box;
}


*, 
*::after, 
*::before{
    box-sizing: inherit;
}



ul[class],
li{
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


a{
  text-decoration: none;
  color: $info;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
}

body{
  @extend %rubik-400;
  color: $default;
  font-size: 14px;
  line-height: 30px;
}

.container-basic{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
} 

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}


.logo{
  display: flex;
  align-items: center;
  &__title{
    padding-left: 10px;
    color: $accent;
    @extend %rubik-700;
    font-size: 36px;
    line-height: 58px;
  }
}



.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  line-height: 30px;
}

.filter-btn{
  text-align: center;
  margin-bottom: 71px;
  &__list{
  cursor: pointer;
  font-size: 16px;
  color: $menu;
  border: none;
  background-color: #fff;
  @extend %dmsans-700;
  & + .filter-btn__list{
    margin-left: 13px;
  }
  }
}

.filter-btn__list.mixitup-control-active{
  color: $title;
}


.video{
  margin-bottom: 110px;
  &__inner{
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
  }
  &__btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 190px;
    padding-top: 190px;
  }
}



.breadcrumbs{
  display: flex;
  justify-content: center;
  &__list{
    display: flex;
  }
  &__item{
    padding-right: 20px;
    position: relative;   
    color: $data;
    line-height: 24px;
    &::after{
      content: '/';
      position: absolute;
      right: 8px;
      @extend %rubik-400;
      color: $default;
      font-size: 17px;
      top: 2px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: $data;
  }
}


.about-title{
  @extend %dmsans-700;
  font-size: 36px;
  line-height: 32px;
}


.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  &__list{
    display: flex;
  }
  &__item{
    margin-left: 16px;
  }
  &__link{
    width: 50px;
    height: 50px;
    font-size: 16px;
    border: 1px solid $price-subtitle;
    color: $products-title;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
    &:hover{
      background-color: $price-subtitle;
      color: #f9fafb;
    }
  }
  &__link--active{
    background-color: $price-subtitle;
    color: #f9fafb;
  }
  &__next{
    width: 75px;
    margin-left: 16px;
  }
}