html{
    box-sizing: border-box;
}


*, 
*::after, 
*::before{
    box-sizing: inherit;
}



ul[class],
li[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}


a{
  text-decoration: none;
  color: $info;
  @extend %rubik-400;
  font-size: 14px;
  line-height: 24px;
}

body{
  @extend %rubik-400;
  color: $default;
  font-size: 14px;
  line-height: 30px;
}

.container-basic{
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
} 

.container{
  max-width: 1800px;
  padding: 0 15px;
  margin: 0 auto;
}


.logo{
  display: flex;
  align-items: center;
  &__title{
    padding-left: 10px;
    color: $accent;
    @extend %rubik-500;
    font-size: 36px;
    line-height: 58px;
  }
}



.title{
  @extend %dmsans-700;
  font-size: 36px;
  color: $title;
  line-height: 30px;
}

.filter-btn{
  text-align: center;
  margin-bottom: 78px;
  &__list{
  cursor: pointer;
  font-size: 16px;
  color: $menu;
  border: none;
  background-color: #fff;
  @extend %dmsans-700;
  }
}

.filter-btn__list.mixitup-control-active{
  color: $title;
}