$accent: #436372;
$default: #585858;
$title: #191919;
$products-title: #243f4d;
$title-descr: #262626;
$price-subtitle: #a3bbc8;
$data: #222933;
$info-title: #1f2044;
$info: #7b7b7b;
$email-adress: #234969;
$benefits: #414141;
$standart: #fff;
$bg: #fef7f0;
$menu: #8b8b8b;
%dmsans-400{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%dmsans-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%rubik-400{
    font-family: 'Rubik-Light', sans-serif;
    font-weight: 300;
}

%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%poppins-700{
    font-family: 'Poppins-Bold', sans-serif;
    font-weight: 700;
}