@import "vars";
@import "global";
@import "fonts";
@import "libs";


.header{
  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-title{
    font-size: 36px;
    line-height: 58px;
    color: $accent;
    @extend %rubik-700;
    margin-left: 14px;
  }
}




.menu{
  margin-left: 105px;
  &__list-items{
    display: flex;
  }
  &__list-item{
    padding-left: 36px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    @extend %rubik-700;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
  }
  &__link + .user-nav__link{
    margin-left: 56px;
  }
  &__link-bg{
    position: relative;
    padding: 14px 40px;
    display: flex;
    align-items: center;
    margin-left: 23px;
    background-color: #fcd7b6;
    border-radius: 50px 50px 50px 50px;
  }
  &__link-search{
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 17px;
    right: 0;
  }
  &__search{
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $price-subtitle;
  }
  &__menu{
    width: 50px;
    height: 50px;
    background-color: $price-subtitle;
    border-radius: 50%;
    margin-left: 17px;
  }
  &__link-menu{   
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
  }
  &__num{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $standart;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $products-title;
    @extend %dmsans-400;
  }
}

.user-nav__link--before::before{
    content: '|';
    position: absolute;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
    top: -8px;
    left: -28px;
    cursor: default;
}


.top{
  background-color: #edf1f4;
  padding: 35px 0;
  text-align: center;
  &__title{
    font-size: 36px;
    line-height: 24px;
    color: $data;
    margin-bottom: 10px;
    @extend %rubik-400;
  }
}




.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 90px 0 75px;
  border-bottom: 1px solid #dae4e9;
  color: $info;
  &__contact{
    max-width: 200px;
    line-height: 24px;
    margin-right: 50px;
  }
  &__item{
    span{
      text-transform: uppercase;
    }
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 10px;
  }
  &__address{
    margin-top: 15px;
  }
  &__nav{
    width: 170px;
    margin-right: 100px;
  }
  &__title{
    color: $info-title;
    @extend %dmsans-700;
    padding-top: 21px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
  &__link{
    margin-bottom: 5px;
    display: block;
  }
  &__form{
    max-width: 270px;
    width: 100%;
  
  }
  &__text{
    margin-bottom: 17px;
  }
  &__form-input{
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    padding-left: 14px;
    padding: 7px 16px;
    &::placeholder{
      color: $email-adress;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }
  &__form-btn{
    line-height: 21px;
    background-color: $price-subtitle;
    border: none;
    padding: 12px 16px;
    color: #fff;
    margin-left: -3px;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__list{
    display: flex;
  }
  &__text{
    line-height: 32px;
  }
  &__item + .footer-bottom__item{
    margin-left: 13px;
  }
}  
li.footer-bottom__item + li.footer-bottom__item::before{
    content: '';
    border-left: 1px solid $info;
    height: 20px;
    top: 0;
    bottom: 0;
    padding-left: 13px;
  }



.slider{    
  &__inner-items{
    background-size: cover;
    background-image: url(../images/slider-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
  }
  &__inner-item{
    padding: 100px 0 91px;
    display: flex !important;
    justify-content: center;
  }
  &__inner-content{
    padding-top: 128px;
    padding-left: 134px;
    margin-right: 120px;
  }
  &__inner-title{
    @extend %rubik-700;
    color: $products-title;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 28px;
    max-width: 430px;
  }
  &__inner-text{
    @extend %rubik-400;
    color: $accent;
    font-size: 18px;
    margin-bottom: 51px;
    max-width: 430px;
  }
  &__inner-btn{
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $standart;
    padding: 22px 100px 22px 28px;
    background-color: #a3bbc8;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/slider-btn.svg);
      width: 22px;
      height: 9px;
      right: 18px;
      bottom: 0;
      top: 27px;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;

}

.slick-dots button{
  border: none;
  @extend %rubik-500;
  border-radius: 50%;
  width: 25px;
  height: 25px;  
  cursor: pointer;
  font-size: 11px;
  line-height: 9px;  
  background-color: #fde3cc;
  color: $products-title;
}
.slick-dots .slick-active{
    button{
      background-color: $standart;
    }
  
}

.slick-dots li{
  margin-bottom: 50px;
}

.slick-dots li + li{
  margin-left: 12px;
}




.benefits{
  margin-bottom: 130px;
  &__inner{
    background-color: $bg;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__item{
    display: flex;
    padding: 50px 125px 49px 150px;
    height: 171px;
  }
  &__item + .benefits__item{
    // border-left: 1px solid #e8e4df;
  }
  &__item-box{
    padding-left: 15px;
    width: 230px;
  }
  &__item-title{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 5px;
    color: $benefits;
    @extend %dmsans-700;
  }
  &__item-descr{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
  &__item-supports{
    width: 209px;
  }
  &__item-credit{
    padding-left: 117px;
  }
  &__item-delivery{
    border-left: 1px solid #e8e4df;
    border-right: 1px solid #e8e4df;
  }
}



.products-container{
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
}

.products{
  margin-bottom: 190px;
  &__items{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
  }
  &__title{
    margin-bottom: 33px;
    text-align: center;
  }
  
}


.products-item{
  width: 270px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  &:hover{
    .products-item__link-box{
      transform: translateY(0);
    }
  }
  img{
    width: 186px;
    height: 195px;
  }
  &__images{
    display: inline-block;
    margin-bottom: 70px;
  }
  &__img-box{
    position: relative;
    overflow: hidden;
    transition: all .3s;
  }
  &__link-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    transition: all .3s;
    transform: translateY(300%);
    bottom: 50px;
  }
  &__link,
  &__btn{
    background-color: $standart;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all .3s;
    &:hover{
      background-color: #a3bac7;
      path{
        fill: rgb(255, 255, 255);
      }
    }
  } 
  &__link-search{
    position: absolute;
    top: 13px;
    left: 26px;
  }
  &__link {
    margin-left: 13px;
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    color: $products-title;
    @extend %dmsans-500;
  }
  &__num{
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
}



.products-item__link-btn{
  position: relative;
  svg{
    position: absolute;
    top: 14px;
    left: 12px;
    right: 0;
  } 
}




.special{
  margin-bottom: 100px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #feefe2;
    height: 390px;
    width: 870px;
  }
  &__item-inner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__item-images{
    margin-top: -100px;
  }
  &__item-content{
    margin-left: 20px;
    max-width: 360px;
    color: $products-title;
    padding-bottom: 15px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 14px;
  }
  &__item-text{
    font-size: 16px;
    margin-bottom: 35px;
  }
}

.special__item-link,
.blog-page__link{
  display: block;
  width: 180px;
  border: 1px solid #b3b7b5;
  border-radius: 5px; 
  padding: 20px 85px 20px 20px;
  @extend %rubik-500;
  font-size: 15px;
  line-height: 12px;
  position: relative;
  &::after{
    content: "";
    position: absolute;
    width: 22px;
    height: 9px;
    top: 22px;
    right: 28px;
  }
}


.special__item-link{
  width: 180px;
  display: block;
  &::after{
    background-image: url(../images/icons/special-arrows.svg);
  }

}

.blog-page__link{
  color: $price-subtitle;
  border: 1px solid $price-subtitle;
  border-radius: 0%;
  width: 180px;
  display: block;
  &::after{
    background-image: url(../images/icons/special-arrows_blue.svg);
  }

}

.design{
  margin-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 34px;
  }
  &__item{
    position: relative;
    height: 245px;
    width: 370px;
    padding: 40px 0 40px 15px;
  }
  &__item-title{
    @extend %dmsans-700;
    color: $title;
    font-size: 20px;
    margin-bottom: 10px;
    max-width: 170px;
  }
  &__item-subtitle{
    color: $price-subtitle;
    font-size: 16px;
  }
  &__item-images{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.wrapper{
  background-color: $bg;
}

.news{
  margin-bottom: 15px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 59%;
    background-color: $standart;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    z-index: 11;
  }
  &__btn{
    color: $title-descr;
    font-size: 16px;
    @extend %dmsans-700;
    padding-right: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/angel-right.svg);
      width: 5px;
      height: 11px;
      right: 0;
      top: 6px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    
  }
  &__item{
    max-width: 370px;
    width: 100%;
    background-color: $standart;
    position: relative;
  }
  &__item-img{
    margin-bottom: 35px;
  }
  &__item-text{
    font-size: 18px;
    @extend %dmsans-500;
    color: $title-descr;
    width: 320px;
    padding-bottom: 15px;
    margin: 0 auto 22px;
    display: block;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item-info{
    display: flex;
    align-items: center;
    padding: 0 30px 26px;
  }
  &__item-date{
    width: 150px;
  }
  &__item-author{
    width: 100px;
    margin-left: 28px;
  }
}

.blog-page__box-date,
.blog-page__box-author,
.news__item-date,
.news__item-author{
  position: relative;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog-page__box-date{
  width: 124px;
}

.blog-page__box-author{
  width: 80px;
}


.news__item-new{
    @extend %poppins-700;
    text-transform: uppercase;
    position: absolute;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    padding: 6px 35px;
    border-radius: 50px 50px;
    background-color: $price-subtitle;
    top: 52%;
    left: 28px;
}





.partners{
  padding: 78px 0 88px;
  background-color: $bg;
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}



.modal{
  padding-top: 120px;
  max-width: 570px;
  margin: 0 auto 120px;
  &__form{
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 25px;
  }
  &__label{
    margin-bottom: 30px;
    color: $accent;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    height: 60px;
    margin-top: 15px;
    padding: 0 15px;
  }
  &__btn{
    display: block;
    font-size: 18px;
    @extend %rubik-500;
    padding: 20px 0;
    width: 100%;
  }
  &__btn-login{
    border: none;
    background-color: $price-subtitle;
    cursor: pointer;
    margin-bottom: 35px;
    color: $standart;
  }
  &__label-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__register{
    color: $accent;
    text-align: center;
    width: 100%;
  }
  &__btn--account{
    border: 1px solid $price-subtitle;
    text-align: center;
    margin-top: 25px;
    color: $products-title;
  }
}


.info-terms{
  
  margin: 120px 0 115px;
  &__title{
    font-size: 24px;
    line-height: 40px;
    color: $products-title;
    margin-bottom: 17px;
    @extend %rubik-500;
  }
  &__list{
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
    padding-left: 35px;

  }
  &__text{
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
  }
}


.info-terms__list{
  list-style: decimal-leading-zero;
}



.about{
  padding-top: 120px;
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.about-info{
  max-width: 555px;
  margin-left: 50px;
  margin-top: 85px;  
  color: $products-title;
  &__working{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  &__num{
    color: $price-subtitle;
    font-size: 140px;
    @extend %rubik-700;
  }

  &__subtext{
    max-width: 95px;
    margin-left: 28px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__subtitle{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 68px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 500px;
      height: 2px;
      background-color: #e6eaf0;
      top: 0;
    }
  }
  &__item{
    display: flex;
    width: 200px;
    height: 80px;
    padding-top: 8px;
  }
  &__item + .about-info__item{
    border-left: 1px solid #e6eaf0;
    padding-left: 20px;
  }
  &__item-img{
    padding-top: 11px;
  }
  &__item-box{
    margin-left: 20px;
    @extend %dmsans-700;
  }
  &__item-title{
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  &__item-subtitle{
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}



.rates{
  margin-bottom: 120px;
  background-color: #fcd7b6;
  color: $products-title;
  @extend %dmsans-700;
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 86px 0 83px;
  }  
  &__item{
    text-align: center;
  }
  &__item-images{
    margin: 0 auto;
  }
  &__item-img{
    margin-bottom: 24px;
  }
  &__item-title{
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  &__item-subtitle{
    font-size: 18px;
    line-height: 32px;

  }
}




.team{
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    max-width: 305px;
    color: $products-title;
  }
  &__info-title{
    margin-bottom: 35px;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__info-link{
    padding: 18px 60px 18px 18px;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    border-radius: 4px;
    background-color: $price-subtitle;
    @extend %poppins-600;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/team-icons.svg);
      width: 15px;
      height: 11px;
      right: 24px;
      top: 20px;
    }
  }
  &__items{
    background-color: #fdfdfd;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 100px;
  }
}



.team-item{
  position: relative;
  padding-bottom: 80px;
  &__box{
    position: absolute;
    z-index: 5;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 110px;
    background-color: #fff;
  }
  &__author-title{
    font-size: 22px;
    line-height: 26px;
    color: $accent;
    @extend %dmsans-700;
    margin-bottom: 5px;
    
  }
  &__author-text{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
  }
  &__social-list{
    display: flex;
  }
  &__social-link{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
  }
  &__social-inst,
  &__social-google{
    position: absolute;
    top: 11px;
    right: 0px;
    bottom: 0;
    left: 12px;
  }
}


.shop{
  padding: 115px 0 0;
  &__inner{
    display: flex;
  }
  &__filters{
    width: 370px;
    margin-right: 30px;
  }
}




.filter{
  &__title{
    font-size: 18px;
    color: $products-title;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding-right: 56px;
    padding-top: 0;
    @extend %dmsans-700;
    text-transform: uppercase;
    &::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: $price-subtitle;
      right: 0;
      top: 14px;
    }
  }
  &__title-price{
    margin-bottom: 20px;
  }
}

.filter-checkbox{
  @extend %rubik-400;
  font-size: 16px;
  color: $products-title;
  border-radius: 4px;
}

.filter-category{
  margin-bottom: 60px;
  &__label{
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox{
      background-color: #edf1f4;
    }
  }
  &__checkbox{
    padding: 8px 220px 8px 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      width: 5px;
      height: 10px;
      right: 23px;
      top: 18px;
      background-image: url(../images/icons/angle-right__product.svg);
    }
  }
}

.filter-category.filter__title{
      font-size: 18px;
    color: $products-title;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding-right: 56px;
    padding-top: 0;
    @extend %dmsans-700;
    text-transform: uppercase;
    &::after{
      content: '';
      position: absolute;
      width: 40px;
      height: 1px;
      background-color: $price-subtitle;
      right: 0;
      top: 14px;
    }
}


.filter-price{
  margin-bottom: 60px;
  padding-right: 10px;
  &__label{
    display: block;
      padding-top: 20px;
  } 
  &__btn{
      border: none;
      cursor: pointer;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  &__num{
    font-size: 17px;
    color: $products-title;
    @extend %rubik-400;
  }
}
.irs--flat .irs-line {
  top: 13px;
  height: 2px;
  background-color: #c2d2db;
  border-radius: 0;
}

.irs--flat .irs-handle {
  top: 6px;
  width: 15px;
  height: 15px;
  background-color: $price-subtitle;
}

.irs--flat .irs-handle>i:first-child {
  display: none;
}

.irs--flat .irs-bar {
  top: 13px;
  height: 3px;
  background-color: $price-subtitle;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
  display: none;
}

.irs--flat .irs-min, .irs--flat .irs-max{
  display: none;
}

.irs--flat{
  height: 13px;
}



.filter-brand{
  margin-bottom: 60px;
  &__label{
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
  }
  &__input{
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox{
      background-color: #edf1f4;
      .filter-brand__num{
        color: $products-title;
      }
    }
  }
  &__checkbox{
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__num{
    color: #b3b3b3;
    width: 36px;
    text-align: center;
  }
}






.filter-products{
  &__item{
    display: flex;
    margin-bottom: 25px;
  }
  &__item-img{
    border: 1px solid #f2f2f2;
    width: 70px;
    height: 70px;
    object-fit: cover;
  }
  &__images{
    display: block;
    margin: 0 auto;
  }
  &__item-info{
    margin-left: 20px;
  }
  &__item-title{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 13px;
    color: #333333;
    @extend %rubik-400;
  }
  &__item-num{
    font-size: 14px;
    line-height: 15px;
    color: #333333;
    @extend %rubik-400;
    margin-top: 13px;
  }
}

.star{
  display: flex;
}

.jq-ry-container{
  padding: 0;
}

.shop__content{
  .products__items{
    grid-template-columns: repeat(3, 1fr);
  }
}









.product-item{
  margin-bottom: 42px;
  &__inner{
    margin-left: 35px;
    display: flex;
    color: #333333;
  }
  &__inner-img{
    background-color: #fefefe;
    border: 1px solid #f2f2f2;
    margin-right: 62px;
    width: 370px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content{
    width: 500px;
    margin: 30px 0 0;
  }
  &__title{
    font-size: 40px;
    line-height: 36px;
    margin-bottom: 20px;
    @extend %rubik-400;
  }
  &__num{
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 30px;
  }
  &__text{
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
    margin-bottom: 30px;
    @extend %rubik-400;
  }
  &__btn{
    text-transform: uppercase;
    height: 50px;
    width: 205px;
    border: none;
    background-color: $price-subtitle;
    color: $standart;
    font-size: 15px;
    line-height: 30px;
    @extend %rubik-400;
    cursor: pointer;
    border-radius: 3px;
  }
}

.products-item{
  &__btn-like{
    background-color: $standart;
    margin-left: 5px;
    path{
      fill: rgb(163, 187, 200);
    }
    &:hover{
      background-color: #a3bac7;
      path{
        fill: rgb(255, 255, 255);
      }
    }
  }
  &__btn-basket{
    background-color: #a3bac7;
    path{
      fill: rgb(255, 255, 255);
    }
  }
}


.products-item__link-btn--list{
  border-radius: 0px;
  position: relative;
  svg{
    position: absolute;
    top: 14px;
    left: 12px;
    right: 0;
  } 
}


// .products-item__link-btn--list + .products-item__link-btn--list{
//   margin-left: 5px;
//   background-color: $standart;
//   path{
//     fill: rgb(163, 187, 200);
//   }
//   &:hover{
//     background-color: #a3bac7;
//     path{
//       fill: rgb(255, 255, 255);
//     }
//   }
// }


.star-list{
  margin-bottom: 24px;
  padding-left: 2px;
}

.product__item-box{
  display: none;
}

.product-item__btn--noactive{
  display: none;
  & + .product__item-box,
  .product__item-box__link{
    display: flex;
  }
}

.product__item-box--noactive,
.product__item-box__link--noactive{
  display: none !important;
  & + .product__item-btn{
    display: block;
  }
}


// .product__item-btn__items--active{
//   display: block;
// }

// .product__item-btn__items.product-item__btn--active{
//   display: none;
// }

// .product__item-btn__items.product-item__btn--active{
//   display: none;
// }




.pagination{
  margin-bottom: 119px;

}


.pagination__product{
  justify-content: flex-start;
  margin-left: 21px;
}

.product-btn{
  display: inline-block;
  margin-left: 15px;
  margin-top: 4px;
}


.product{
  padding: 120px 0 0;
}


.product-one{
  margin-bottom: 70px;
  &__inner{
    display: flex;
  }
  &__slide{
    width: 550px;
    margin-right: 70px;
  }
  &__content{
    width: 540px;

  }
  &__box{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }
}

.product-slide{
  display: flex;
  &__thumb{
    width: 140px;
    margin-right: 25px;
  }
  &__thumb-item{
    width: 140px;
    height: 160px;
    border: 1px solid #f2f2f2;
    background-color: #fefefe;
    margin-bottom: 12px;
    cursor: pointer;
    img{
      width: 110px;
      height: 147px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
  &__big{
    width: 390px;
    height: 530px;
    border: 1px solid #f2f2f2;
    background-color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 260px;
      height: 450px;
      object-fit: cover;
      margin: 0 auto;
    }
  }
}






.jq-number__field {
  width: 150px;
  border: 1px solid $price-subtitle;
  transform: translateY(2px);
}

.jq-number__field input{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  color: $title;
  text-align: center;
}
.jq-number{
  padding: 0;
  position: relative;
}




.jq-number__spin{
  position: absolute;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;

}

.jq-number__spin.minus{
  left: 0px;
  top: 28px;
  border-right: 1px solid $price-subtitle;
}
.jq-number__spin.plus{
  right: 0px;
  top: 28px;
  border-left: 1px solid $price-subtitle;
}

// .jq-number .minus{
//     right: auto;
//     left: 15px;
// }

.jq-number__spin::after{
  content: '';
  position: absolute;
  top: 24px;
  left: 21px;
  background-color: $title;
  width: 7px;
  height: 1px;
}

.jq-number__spin.plus::before{
  content: '';
  position: absolute;
  top: 21px;
  left: 24px;
  background-color: $title;
  width: 1px;
  height: 7px;
}



.product-info{
  &__lsit{
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
  }
  &__item{
    display: flex;
    
  }
  &__text{
    margin-left: 3px;
  }
}





.product-tabs{
  margin-bottom: 120px;
  &__top{
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
  }
  &__top-item{
    @extend %rubik-500;
    color: $products-title;
    font-size: 18px;
    padding: 17px 78px;
    background-color: #edf1f4;
    border-radius: 4px;
    & + .product-tabs__top-item{
      margin-left: 13px;
    }
  }
  &__top-item--active{
    color: $standart;
    background-color: $price-subtitle;
  }
  &__content-item{
    display: none;
    &.product-tabs__contnet-item--active{
      display: block;
      color: $products-title;
      font-size: 16px;
    }
  }
}


.product-slider{
  margin-bottom: 85px;
  &__title{
    font-size: 36px;
    color: $products-title;
    margin-bottom: 55px;
  }
  &__items{
    background-color: #f9f9f9;
    border-radius: 4px;
  }
}

.slick-arrow{
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: -85px;
  background-color: $standart;
  border: 3px solid $price-subtitle;
}

.slick-prev,
.slick-next{
  font-size: 0;
  border-radius: 4px;
  svg{
    position: absolute;
    top: 16px;
    right: 10px;
  }
}

.slick-disabled{
  border: 3px solid #edf1f4;
}

.slick-next{
  margin-right: 70px;
}




.blog-page{
  padding-top: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    margin-bottom: 50px;
  }
  &__img{
    width: 830px;
    height: 500px;
    object-fit: cover;
  }
  &__content{
    margin-right: 70px;
  }
  &__box{
    position: relative;
    margin-bottom: 40px;
  }
  &__box-info{
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 12px;
    line-height: 30px;
    bottom: -1px;
    width: 275px;
    height: 70px;
    background-color: $price-subtitle;
  }
  &__box-author{
    color: inherit;
    font-size: 12px;
  }
  &__title{
    font-size: 36px;
    color: #333333;
    margin-bottom: 38px;
  }
  &__text{
    color: $products-title;
    font-size: 16px;
    margin-bottom: 40px;
    width: 800px;
  }
  &__pagination{
    margin-left: -15px;
  }
}






.filter-search{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  &__input{
    border: 1px solid #ebf1f3;
    border-radius: 4px;
    padding: 0 7px;
    height: 40px;
    width: 223px;
    padding: 0 19px 0px 8px;
  }
  &__link{
    width: 43px;
    height: 40px;
    border: none;
    background-color: #edf1f4;
    border-radius: 6px; 
    margin-left: -15px;
    position: relative;
    cursor: pointer;
  }
  &__button{
    position: absolute;
    top: 8px;
    right: 13px;
  }
}



.post{
  margin-bottom: 40px;
  width: 270px;
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__item-img{
    object-fit: cover;
    width: 70px;
    height: 70px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__item-content{
    max-width: 183px;
  }
  &__item-title{
    font-size: 14px;
    line-height: 20px;
    padding-left: 3px;
    color: #333333;
    margin-bottom: 7px;
  }
  &__item-date{
    color: #9a9a9a;
    align-items: center;
  }
}


.blog-one{
  padding: 120px 0 120px;
  &__box{
    h2{
      font-size: 36px;
      color: #333333;
      margin-bottom: 38px;
    }
    h3,h4{
      line-height: 30px;
      color: $products-title;
      margin-bottom: 30px;
      @extend %rubik-500;
    }
    h3{
      font-size: 18px;
      padding-top: 30px;
      @extend %rubik-700;
    }
    h4{
      @extend %rubik-700;
      font-size: 16px;
      max-width: 830px;
    }
    p{
      color: $products-title;
      font-size: 16px;
      margin-bottom: 40px;
      max-width: 800px;
    }
    blockquote{
      max-width: 835px;
      color: $products-title;
      font-size: 16px;
      @extend %rubik-400;
      padding: 25px 90px 25px 45px;
      border-left: 7px solid $price-subtitle;
      background-color: #edf1f4;
      margin-bottom: 47px;
    }
  }
  .sub-blockquote{
    margin-top: 10px;
    display: block;
    position: relative;
    padding-left: 40px;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 13px;
      width: 20px;
      height: 4px;
      background-color: $price-subtitle;
    }
  }
  &__left-img{
    float: left;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  &__right-img{
    float: right;
    margin-left: 30px;
    margin-bottom: 10px;
  }
  p.blog-one__text{
    color: #565872;
  }
}

.author{
  margin-bottom: 62px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-top: 2px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
  }
  &__info{
    margin-left: 26px;
  }
  &__name{
    font-size: 18px;
    line-height: 25px;
    @extend %rubik-700;
    color: #333333;
  }
  &__content{
    display: flex;
    align-items: center;
  }
  &__box{
    padding-right: 15px;
  }
  &__tags,
  &__share{
    color: #333333;
    font-size: 16px;
    @extend %rubik-400;
  }
  &__share{
    display: flex;
    align-items: center;
  }
  &__share-link{
    margin-left: 17px;
    margin-top: 7px;
    color: #999999;
  }
  &__tags-link{
    margin-left: 12px;
    &:last-child{
      margin-left: 0;
    }
  }
}


.comments{
  &-title{
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 36px;
    color: $accent;
    @extend %rubik-700;
  }
  &__item{
    .comments__content{
      border-bottom: 1px solid #e0e0e0;
    }
    &:last-child{
      .comments__content{
        border-bottom: none;
      }
    }
  }
  &__img{
    width: 100px;
    height: 100px;
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__content{
    margin-left: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__content-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
  }
  &__content-name{
    color: $accent;
    font-size: 16px;
    @extend %rubik-700;
  }
  &__content-date{
    color: #9e9e9e;
    @extend %rubik-400;
    font-size: 14px;
  }
  &__content-text{
    color: #565872;
    margin-bottom: 20px;
  }
  &__content-replay{
    font-size: 14px;
    color: #516278;
    padding-right: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      background-image: url(../images/icons/arrow-right.svg);
      width: 16px;
      height: 16px;
    }
  }
}

.comments__info + .comments__info{
  margin-left: 130px;
  border-bottom: 1px solid #e0e0e0;
  .comments__content{
    border-bottom: none;
  }
}

.comments-form{
  padding-top: 70px;
  &__box-input{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__input{
    width: 400px;
    display: inline-block;
    border: 1px solid #e5e5e5;
    height: 50px;
    padding: 0 46px 0 20px;
    color: #333333;
    font-size: 16px;
    &::placeholder{
      color: #999999;
      font-size: 16px;
    }
  }
  &__textarea{
    width: 820px;
    height: 120px;
    border: 1px solid #e5e5e5;
    padding: 15px 35px 0 20px;
    resize: none;
    margin-bottom: 35px;
    &::placeholder{
      color: #999999;
      font-size: 16px;
    }
  }
  &__btn{
    width: 190px;
    height: 50px;
    border: none;
    background-color: $price-subtitle;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
  }
}

.comments-form__input,
.comments-form__textarea{
  &:hover{
    border: 1px solid $price-subtitle;
  }
}


.comments-form__name,
.comments-form__mail,
.comments-form__text{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    right: 29px;
    top: 18px;
  }
}


.comments-form__name{
  &::after{
    background-image: url(../images/icons/comments-user.svg);
    width: 14px;
    height: 13px;
  }
}

.comments-form__mail{
  &::after{
    background-image: url(../images/icons/comments-mail.svg);
    width: 18px;
    height: 12px;
  }
}

.comments-form__text{
  &::after{
    background-image: url(../images/icons/comments-text.svg);
    width: 18px;
    height: 15px;
    right: 19px;
    top: -128px;
  }
}




.contact{
  padding: 120px 0;
  &__top{
    text-align: center;
    margin-bottom: 70px;
  }
  &__subtitle{
    font-size: 16px;
    line-height: 20px;
    color: $price-subtitle;
  }
  &__title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: 57px;
    color: #436372;
  }
  &__items{
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
  }
  &__item{
    width: 370px;
    height: 380px;
    background-color: #fbfbfb;
    align-items: center;
    border: 1px solid #fff;
    margin-left: 30px;
    &:hover{
      border: 1px solid $price-subtitle;
      .contact__box{
        background-color: $price-subtitle;
        path{
          fill: rgb(255, 255, 255);
        }
      }
    }
  }
  &__box{
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    margin: 70px auto 60px;
  }
  &__box-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__info{
    text-align: center;
  }
  &__info-title{
    color: #222222;
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  &__info-link{
    display: inline-block;
    font-size: 16px;
    color: #565872;
    @extend %rubik-400;
  }
  &__info-address{
    width: 170px;
    margin: 0 auto;
  }
}

.contact-form{
  width: 630px;
  &__textarea{
    width: 620px;
    position: relative;
  }
  &__input {
    width: 300px;
    & + .contact-form__input{
      margin-left: 50px;

    }
  }
}
// .contact-form__input + .contact-form__input{
//   margin-left: 15px;
//   width: 40px;
// } 







@import "media";