@import "vars";
@import "global";
@import "fonts";
@import "libs";


.header{
  &__inner{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}




.menu{
  margin-left: 200px;
  &__list-items{
    display: flex;
  }
  &__list-item + .menu__list-item{
    padding-left: 30px;
  }
  &__list-link{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    @extend %rubik-500;
  }
}

.user-nav{
  display: flex;
  align-items: center;
  &__link{
    position: relative;
  }
  &__link + .user-nav__link{
    margin-left: 56px;
  }
  &__link-bg{
    position: relative;
    padding: 14px 40px;
    display: flex;
    align-items: center;
    margin-left: 23px;
    background-color: #fcd7b6;
    border-radius: 50px 50px 50px 50px;
  }
  &__link-search{
    position: absolute;
    top: 17px;
    bottom: 0;
    left: 17px;
    right: 0;
  }
  &__search{
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
  }
  &__btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $price-subtitle;
  }
  &__menu{
    width: 50px;
    height: 50px;
    background-color: $price-subtitle;
    border-radius: 50%;
    margin-left: 17px;
  }
  &__link-menu{   
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
  }
  &__num{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: $standart;
    top: -9px;
    right: -14px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $products-title;
    @extend %dmsans-400;
  }
}

.user-nav__link--before::before{
    content: '|';
    position: absolute;
    font-size: 23px;
    line-height: 27px;
    color: #fff;
    top: -8px;
    left: -28px;
    cursor: default;
}


.top{
  background-color: #edf1f4;
  padding: 35px 0;
  text-align: center;
  &__title{
    font-size: 36px;
    line-height: 24px;
    color: $data;
    margin-bottom: 10px;
    @extend %rubik-400;
  }
}




.footer-top{
  display: flex;
  justify-content: space-between;
  padding: 90px 0 75px;
  border-bottom: 1px solid #dae4e9;
  color: $info;
  &__contact{
    max-width: 200px;
    line-height: 24px;
    margin-right: 50px;
  }
  &__item{
    span{
      text-transform: uppercase;
    }
  }
  &__address,
  &__phone,
  &__email{
    display: block;
    margin-bottom: 20px;
  }
  &__address{
    margin-top: 31px;
  }
  &__nav{
    width: 170px;
    margin-right: 100px;
  }
  &__title{
    color: $info-title;
    @extend %dmsans-700;
    padding-top: 21px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 26px;
    text-transform: uppercase;
  }
  &__link{
    margin-bottom: 15px;
    display: block;
  }
  &__form{
    max-width: 270px;
    width: 100%;
  
  }
  &__text{
    margin-bottom: 40px;
  }
  &__form-input{
    background-color: #fef7f0;
    border: none;
    max-width: 170px;
    width: 100%;
    padding-left: 14px;
    padding: 7px 16px;
    &::placeholder{
      color: $email-adress;
      font-size: 12px;
      @extend %dmsans-400;
    }
  }
  &__form-btn{
    line-height: 21px;
    background-color: $price-subtitle;
    border: none;
    padding: 12px 16px;
    color: #fff;
    margin-left: -3px;
  }
}

.footer-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  &__list{
    display: flex;
  }
  &__text{
    line-height: 32px;
  }
  &__item + .footer-bottom__item{
    margin-left: 13px;
  }
}  
li.footer-bottom__item + li.footer-bottom__item::before{
    content: '';
    border-left: 1px solid $info;
    height: 20px;
    top: 0;
    bottom: 0;
    padding-left: 13px;
  }



.slider{    
  &__inner-items{
    background-size: cover;
    background-image: url(../images/slider-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100%;
  }
  &__inner-item{
    padding: 100px 0 91px;
    display: flex !important;
    justify-content: space-between;
  }
  &__inner-content{
    padding-top: 128px;
    padding-left: 300px;
  }
  &__inner-title{
    @extend %rubik-500;
    color: $products-title;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 70px;
    margin-bottom: 40px;
    max-width: 430px;
  }
  &__inner-text{
    @extend %rubik-400;
    color: $accent;
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 430px;
  }
  &__inner-btn{
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $standart;
    padding: 22px 100px 22px 28px;
    background-color: #a3bbc8;
    &::before{
      content: '';
      position: absolute;
      background-image: url(../images/icons/slider-btn.svg);
      width: 22px;
      height: 9px;
      right: 18px;
      bottom: 0;
      top: 27px;
    }
  }
}

.slick-dots{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;

}

.slick-dots button{
  border: none;
  @extend %rubik-500;
  border-radius: 50%;
  width: 25px;
  height: 25px;  
  cursor: pointer;
  font-size: 11px;
  line-height: 9px;  
  background-color: #fde3cc;
  color: $products-title;
}
.slick-dots .slick-active{
    button{
      background-color: #fff;
    }
  
}

.slick-dots li{
  margin-bottom: 50px;
}

.slick-dots li + li{
  margin-left: 12px;
}




.benefits{
  margin-bottom: 130px;
  &__inner{
    background-color: $bg;
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: flex;
    padding: 56px 133px 47px;
  }
  &__item + .benefits__item{
    border-left: 1px solid #e8e4df;
  }
  &__item-box{
    padding-left: 15px;
    width: 230px;
  }
  &__item-title{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
    color: $benefits;
    @extend %dmsans-700;
  }
  &__item-descr{
    font-size: 16px;
    line-height: 30px;
    @extend %dmsans-400;
  }
  &__item-supports{
    width: 209px;
  }
}





.products{
  margin-bottom: 190px;
  &__items{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 30px;
    
  }
  &__title{
    margin-bottom: 20px;
    text-align: center;
  }
  
}


.products-item{
  width: 270px;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 30px;
  &:hover{
    .products-item__link-box{
      transform: translateY(0);
    }
  }
  img{
    width: 186px;
    height: 195px;
  }
  &__images{
    display: inline-block;
    margin-bottom: 70px;
  }
  &__img-box{
    position: relative;
    overflow: hidden;
    transition: all .3s;
  }
  &__link-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    transition: all .3s;
    transform: translateY(300%);
    bottom: 50px;
  }
  &__link{
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: none;
    transition: all .3s;
    &:hover{
      background-color: #a3bac7;
      path{
        fill: rgb(255, 255, 255);
      }
    }
  } 
  &__link-search{

    position: absolute;
    top: 14px;
    left: 25px;

    
  }
  &__link {
    margin-left: 13px;
  }
  &__title{
    font-size: 16px;
    line-height: 40px;
    color: $products-title;
    @extend %dmsans-500;
  }
  &__num{
    font-size: 16px;
    line-height: 40px;
    color: #a3bbc8;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }
}



.products-item__link-btn{
  position: relative;
  svg{
    position: absolute;
    top: 14px;
    left: 12px;
    right: 0;
  } 
}




.special{
  margin-bottom: 100px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    background-color: #feefe2;
    height: 390px;
    width: 870px;
  }
  &__item-inner{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__item-images{
    margin-top: -100px;
  }
  &__item-content{
    margin-left: 20px;
    max-width: 360px;
    color: $products-title;
    padding-bottom: 15px;
  }
  &__item-title{
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 25px;
  }
  &__item-text{
    font-size: 16px;
    margin-bottom: 35px;
  }
  &__item-link{
    border: 1px solid #b3b7b5;
    border-radius: 5px; 
    padding: 20px 85px 20px 20px;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    position: relative;
    &::after{
      content: "";
      position: absolute;
      background-image: url(../images/icons/special-arrows.svg);
      width: 22px;
      height: 9px;
      top: 24px;
      right: 24px;
    }
  }
}



.design{
  margin-bottom: 120px;
  &__items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 35px;
  }
  &__item{
    position: relative;
    height: 245px;
    width: 370px;
    padding: 40px 0 40px 40px;
  }
  &__item-title{
    @extend %dmsans-700;
    color: $title;
    font-size: 20px;
    margin-bottom: 18px;
    max-width: 170px;
  }
  &__item-subtitle{
    color: $price-subtitle;
    font-size: 16px;
  }
  &__item-images{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.wrapper{
  background-color: $bg;
}

.news{
  margin-bottom: 15px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 59%;
    background-color: #fff;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }
  &__title{
    z-index: 11;
  }
  &__btn{
    color: $title-descr;
    font-size: 16px;
    @extend %dmsans-700;
    padding-right: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/angel-right.svg);
      width: 5px;
      height: 11px;
      right: 0;
      top: 6px;
    }
  }
  &__items{
    display: flex;
    justify-content: space-between;
    
  }
  &__item{
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    position: relative;
  }
  &__item-img{
    margin-bottom: 35px;
  }
  &__item-text{
    font-size: 18px;
    @extend %dmsans-500;
    color: $title-descr;
    width: 320px;
    padding-bottom: 15px;
    margin: 0 auto 22px;
    border-bottom: 1px solid #e0e0e0;
  }
  &__item-info{
    display: flex;
    align-items: center;
    padding: 0 30px 26px;
  }
  &__item-author{
    margin-left: 28px;
  }
}


.news__item--new{
  &::before{
    content: 'NEWS';
    @extend %poppins-700;
    position: absolute;
    line-height: 20px;
    color: #fff;
    font-size: 14px;
    padding: 6px 35px;
    border-radius: 50px 50px;
    background-color: $price-subtitle;
    top: 50%;
    left: 28px;
  }
}





.partners{
  padding: 78px 0 88px;
  background-color: $bg;
  &__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}



.modal{
  padding-top: 120px;
  max-width: 570px;
  margin: 0 auto 120px;
  &__form{
    border-bottom: 1px solid #f6f6f6;
    margin-bottom: 25px;
  }
  &__label{
    margin-bottom: 30px;
    color: $accent;
    display: block;
  }
  &__input{
    display: block;
    width: 100%;
    border: 1px solid #f6f6f6;
    height: 60px;
    margin-top: 15px;
  }
  &__btn{
    display: block;
    font-size: 18px;
    @extend %rubik-500;
    padding: 20px 0;
    width: 100%;
  }
  &__btn-login{
    border: none;
    background-color: $price-subtitle;
    cursor: pointer;
    margin-bottom: 35px;
    color: #fff;
  }
  &__label-error{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__register{
    color: $accent;
    text-align: center;
    display: block;
    width: 100%;
  }
  &__btn--account{
    border: 1px solid $price-subtitle;
    text-align: center;
    margin-top: 25px;
    color: $products-title;
  }
}


.info-terms{
  
  margin: 120px 0 115px;
  &__title{
    font-size: 24px;
    line-height: 40px;
    color: $products-title;
    margin-bottom: 17px;
    @extend %rubik-500;
  }
  &__list{
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
    padding-left: 35px;

  }
  &__text{
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 30px;
    color: $products-title;
  }
}


.info-terms__list{
  list-style: decimal-leading-zero;
}



.about{
  padding-top: 120px;
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}

.about-info{
  max-width: 555px;
  margin-left: 50px;
  margin-top: 85px;  
  color: $products-title;
  &__working{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }
  &__num{
    color: $price-subtitle;
    font-size: 140px;
    @extend %rubik-700;
  }

  &__subtext{
    max-width: 95px;
    margin-left: 28px;
  }
  &__title{
    margin-bottom: 50px;
  }
  &__subtitle{
    @extend %rubik-400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 68px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 500px;
      height: 2px;
      background-color: #e6eaf0;
      top: 0;
    }
  }
  &__item{
    display: flex;
    width: 200px;
    height: 80px;
    padding-top: 8px;
  }
  &__item + .about-info__item{
    border-left: 1px solid #e6eaf0;
    padding-left: 20px;
  }
  &__item-img{
    padding-top: 11px;
  }
  &__item-box{
    margin-left: 20px;
    @extend %dmsans-700;
  }
  &__item-title{
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 6px;
  }
  &__item-subtitle{
    font-size: 16px;
    line-height: 17px;
    color: #4c4c4c;
  }
}



.rates{
  margin-bottom: 120px;
  background-color: #fcd7b6;
  color: $products-title;
  @extend %dmsans-700;
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 86px 0 83px;
  }  
  &__item{
    text-align: center;
  }
  &__item-images{
    margin: 0 auto;
  }
  &__item-img{
    margin-bottom: 24px;
  }
  &__item-title{
    font-size: 36px;
    line-height: 32px;
    margin-bottom: 18px;
  }
  &__item-subtitle{
    font-size: 18px;
    line-height: 32px;

  }
}




.team{
  margin-bottom: 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__info{
    max-width: 305px;
    color: $products-title;
  }
  &__info-title{
    margin-bottom: 35px;
  }
  &__info-text{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  &__info-link{
    padding: 18px 60px 18px 18px;
    font-size: 15px;
    line-height: 55px;
    color: #fff;
    border-radius: 4px;
    background-color: $price-subtitle;
    @extend %poppins-600;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url(../images/icons/team-icons.svg);
      width: 15px;
      height: 11px;
      right: 24px;
      top: 20px;
    }
  }
  &__items{
    background-color: #fdfdfd;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 30px;
    margin-bottom: 100px;
  }
}



.team-item{
  position: relative;
  padding-bottom: 80px;
  &__box{
    position: absolute;
    z-index: 5;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 330px;
    height: 110px;
    background-color: #fff;
  }
  &__author-title{
    font-size: 22px;
    line-height: 26px;
    color: $accent;
    @extend %dmsans-700;
    margin-bottom: 5px;
    
  }
  &__author-text{
    font-size: 16px;
    line-height: 30px;
    color: #565872;
  }
  &__social-list{
    display: flex;
  }
  &__social-link{
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 50%;
    position: relative;
    margin-left: 10px;
  }
  &__social-inst,
  &__social-google{
    position: absolute;
    top: 11px;
    right: 0px;
    bottom: 0;
    left: 12px;
  }
}

















@import "media";